body {
background-color: #FFF;
font: 13.34px helvetica,arial,clean,sans-serif;
text-align: center;
}
.site {
font-size: 110%;
text-align: justify;
width: 42em;
margin: 3em auto 2em;
line-height: 1.5em;
}
