<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="{{site.baseurl}}/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css" type="text/css" media="screen, projection" />
   <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="{{site.baseurl}}">0.618's world</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://github.com/lingdian618/">github.com/lingdian618</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
